<div id="<%= dom_id simple %>">
  <p>
    <strong>Name:</strong>
    <%= simple.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= simple.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= simple.price %>
  </p>

</div>
