<div id="<%= dom_id cream %>">
  <p>
    <strong>Name:</strong>
    <%= cream.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cream.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= cream.price %>
  </p>

</div>
